
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #020617;
    padding: 18px 8%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

section {
    min-height: 100vh;
    padding: 120px 10%;
    text-align: center;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

.hero h1 {
    font-size: 70px;
    color: #38bdf8;
}

.hero h2 {
    margin: 15px 0;
}

.hero p {
    max-width: 600px;
    line-height: 1.7;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 13px 25px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

section h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

section > p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

.skills,
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: auto;
}

.skills div,
.project {
    padding: 35px;
    background: #1e293b;
    border-radius: 15px;
    transition: 0.3s;
}

.skills div:hover,
.project:hover {
    transform: translateY(-8px);
}

.project h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}

.project p {
    line-height: 1.6;
}

form {
    max-width: 550px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 14px;
    border: none;
    border-radius: 8px;
}

form textarea {
    height: 130px;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #38bdf8;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 25px;
    background: #020617;
}

@media (max-width: 700px) {

    nav ul {
        gap: 10px;
        font-size: 12px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .skills,
    .projects {
        grid-template-columns: 1fr;
    }
}

